*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

img, svg{
    max-width: 100%;
    display: block;
}

body{
    background: #F2F2F2;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.main-container{
    padding: 20px 30px 10px 30px;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 	1.875em;
}

.searching-bar{
    margin-left: 20%;
}

.toggle_btn > i{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
}

.main-header input{
    padding: 10px;
    padding-left: 60px;
    border: 0;
    border-radius: 20px;
    width: 410px;
    font-weight: 500;
}

.icons{
    display: flex;
    gap: 20px;
}

.icons > .icon{
    width: 50px;
    height: 50px;
} 

.banner > img{
    width: 100%;
    height: 300px;
    border-radius: 50px;
    margin-bottom: 100px;
}

footer{
    position: fixed;
    background-color: transparent;
    bottom: 0;
    height: 100px;
    width: 22%;
}

.help-circle{
    margin-left: 40px;
    cursor: pointer;
    display: inline-flex;
}

.sidebar{
    width: 30%;
    background: white;
}

.sidebar-logo{
    display: flex;
    justify-content: center;
}

.sidebar-logo > img{
    width: 171px;
    height: 171px;
}

.sidebar-items{
    margin-top: 50px;
}

span:hover{
    color: #009393;
}

.sidebar-item{
    margin: 40px 0px 0px 50px;
    display: flex;
    align-items: center;
}

.sidebar-item a{
    text-decoration: none;
    color: #5C5C5C;
    margin: 0px 0px 0px 25px;
    font-weight: 500;
}

.card-section-title{
    margin-bottom: 1.875em;
    text-align: center;
}

.card-section-title :is(a){
    text-decoration: none;
    color: #009393;
}

 .card{
    display: flex;
    padding: 0 40px 40px 0;
    box-shadow: 4px 10px 27px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 10px 27px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 27px -12px rgba(0,0,0,0.75); 
}

.card:not(.card--1){
    margin-top: 1.875em;
}

 .pc-img{
    display: flex;
}

.card-info{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}

.card-text p{
    font-size: 16px;
    margin-top: 2%;
    font-weight: 400;
    color: #5C5C5C;
}

.card-price{
    color: #009393;
    font-weight: 500;
}

.buttons{
    display: flex;
    flex-flow: row-reverse;
    gap: 20px;
}

.comprar{
    background-color: #009393;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    width: 130px;
    cursor: pointer;
}

.comprar:hover, .añadir:hover, .help-circle:hover, .sidebar-item:hover, .ddm-item:hover{
    transform: scale(1.1);
}

.añadir{
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    width: 130px;
    background-color: white;
    border: 2px solid #009393;
    color: #009393;
    cursor: pointer; 
} 

.dropdown_menu, .toggle_btn{
    display: none;
}

.dropdown_menu{
    display: none;
    margin-bottom: 1.875em;
    padding: 1.875em 0px 1.875em 0px;
    box-shadow: 4px 10px 27px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 10px 27px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 10px 27px -12px rgba(0,0,0,0.75); 
    border-radius: 20px;
}

.ddm-icons{
    display: none;
}

.ddm-searching-bar{
    margin-top: 1.875em;
}

.ddm-searching-bar > input{
    padding: 10px;
    padding-left: 60px;
    border: 0;
    border-radius: 20px;
    width: 410px;
    font-weight: 500;
}


@media screen and (max-width: 1100px) {
    .searching-bar{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .toggle_btn{
        display: block;
        cursor: pointer;
    }

    .dropdown_menu .ddm-items{
        display: grid;
        place-items: center;
    }

    .dropdown_menu.active{
        display: flex;
        justify-content: center;
    }

    .ddm-header{
        display: grid;
        place-items: center;
    }

    .ddm-searching-bar{
        width: 80%;
        border: 1px solid #5C5C5C;
        border-radius: 20px;
        overflow: hidden;
    }

    .ddm-item{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .ddm-items a{
        text-decoration: none;
        margin-left: 20px;
        color: #5C5C5C;
    }

    .ddm-logo img{
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .icons{
        display: none;
    }
    
    .dropdown_menu.active{
        display: grid;
        place-items: center;
        gap: 20px;
    }

    .dropdown_menu.active :is(.ddm-items){
        gap: 20px;
    }

}
